body{
    border-right: solid 2px #f0f0f0;
    border-left:  solid 2px #f0f0f0;
}
.parentSubmitComment{
    position: relative;
    width: 60%;
}
.parentSubmitComment button{
    position: absolute;
    right: 3px;
    top: 3px;
}
.tweetOptions{
    position: relative;
}
#dropdownMenuLink{
    position: absolute;
    right: 5px;
    top: 8px;
    color: black;
}
